# Ignore Node.js dependencies
node_modules/

# Ignore environment-specific files
.env
.env.*
*.env.local
*.env.development
*.env.test
*.env.production

# Ignore build output
build/
dist/
out/
output/

# Ignore logs
logs/
*.log

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-*
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db
/data/database.db